@import "./../../styles/colors";
@import "./../../styles/global";

.login__container {
  position: absolute;
  margin: auto;
  width: 25rem;
  height: 15rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px #fff;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  background: var(--backgroungGlassyLight);
  box-shadow: var(--boxShadowGlassy)
}
