@import './../../styles/colors';

//modal popup css
.feedback__modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    right: 1rem;
    bottom: 1rem;
    .close__popup__btn{
      position: absolute;
      top: -35px;
      cursor: pointer;
      right: 0;
      width: 3rem;
      height: 2rem;
      font-size: 15px;
      border-radius: 10px;
      outline: none;
      border: 1px solid;
    }
  }
  
  /* Modal Content */
  .modal-content {
    height: unset;
    position: relative;
    background-color: #fefefe;
    border-radius: 4px;
    padding: 2rem;
    width: 22rem;
    border: 1px solid #888;
    border-radius: 5px 5px 0px 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatebottom;
    animation-duration: 1s;
    .modal-header {
      border-radius: 5px 5px 0px 0px;
      color: $pureBlack;
      font-weight: 500;
      display: flex;
      justify-content: center;
      flex-direction: row-reverse;
      align-items: center;
    }
    
    .modal-body {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .emoji__box{
        display: flex;
        flex-direction: row;
        border: 1px solid $purpleLight;
        border-radius: 5px;
        margin: 5px 0px;
        align-items: center;
        cursor: pointer;
        span{
          margin-left: 1rem;
          font-weight: 400;
        }
        img{
          padding: 1rem;
          width:3rem;
        }
        &:hover{
          background: $purpleLight;
          color: #fff;
          transition: 0.6s;
        }
      }
    }
  }
  @media only screen and (max-width: 480px) {
    .modal-content{
      width: 90%;
    }
  }
  
  /* Add Animation */
  @-webkit-keyframes animatebottom {
    from {top:300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatebottom {
    from {top:300px; opacity:0}
    to {top:0; opacity:1}
  }

  .close__popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    .chechbox__container{
      display: flex;
      align-items: center;
      input{
        padding: 0.8rem;
        border-radius: 3px;
        margin-right: 0.5rem;
        border: 1px solid $purpleLight;
        outline: none;
        height: 20px;
        width: 20px;
      }
    }
    .submit__btn__box{
      text-align: center;
    }
  }

  .ignore__textarea{
    display: flex;
    flex-direction: column;
    align-items: center;
    .textarea__container{
      width: 100%;
      display: flex;
      flex-direction: column;
      textarea{
        width: auto !important;
        margin-top: 1rem;
        border: 1px solid $purpleLight;
        border-radius: 5px;
        padding: 10px;
      }
      span{
        font-size: 12px;
        color: #532e94;
        display: flex;
        justify-content: center;
      }
    }
  }
.btn__disabled{
  background: #acaace !important;
}